[Unit]
Description=humidity_exporter
After=network-online.target

[Service]
User=pi
Restart=on-failure

ExecStart=/usr/bin/python /home/pi/humidity.py

[Install]
WantedBy=multi-user.target
